html, body {
  width: 100%;
  height: 100%;
  /*background-color: #ebe9e9;*/
  background-color: #ebe9e9;
  /*padding-bottom: 40px;*/
}

.header{
  background-color:#f37430;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #FFFFFF;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.title{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}
.jumbo-style{
  background-color: #4ABDAC;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 5px 6px 0px rgba(49, 49, 49, 0.31);
}
.jumbo-header{
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  /*font-weight: bold;*/
}
.back-btn {
  background-color: #fc4a1a;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  border-color: transparent;
  box-shadow: 0px 5px 6px 0px rgba(49, 49, 49, 0.31);
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;}
  .back-btn:hover {
    background-color: #fc4a1a;
    color: #FFFFFF;}
  .back-btn:focus {
    background-color: #fc4a1a; }

p{
  font-family: 'Roboto Condensed', sans-serif;

}
