body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black; }

html {
  width: 100%;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px; }
  @media (min-width: 768px) {
    p {
      font-size: 18px;
      line-height: 1.6;
      margin: 0 0 35px; } }

.navbar{
	background-color: transparent;
	background: transparent;
	border-width: 0px;
	padding-right:30px;
	
}

 .nav.navbar-nav li a {
    color: #fff; 
	padding-left:20px;
	font-size: 17px;
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
	 
.nav.navbar-nav li a:hover{
	color: #fff; 
	padding-left:20px;
	font-size: 17px;
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
	 
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default button{
	border: 2px solid #fff;
	 }
	 
.btn-default{	 
	margin-bottom:5px;
	 }
	 
.header-style{
	padding-top:150px;
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.content-section {
	padding-top: 150px;
	padding-bottom: 150px;
	  }


.btn-default {
	 color: #42DCA3;
	 border: 1px solid #42DCA3;
	 background-color: transparent; }

.btn-default:focus, .btn-default:hover {
    color: black;
    border: 1px solid #42DCA3;
    outline: none;
    background-color: #42DCA3; }
