@font-face {
  font-family: "PilsenPlakat";
  src: url(../fonts/PilsenPlakat.ttf);
}
html, body {
  width: 100%;
  height: 100%;
  background-color: #ebe9e9;
  padding-bottom: 40px;
}
.text-header{
  margin-bottom: 0;
}
.omb_btn-facebook{
  background-color: #3B5998;
  color: white;
}
.omb_btn-google{
  background-color: #C32F10;
  color: white;
}
.calendar{
  background-color: white;
  color: #ffb932;
}
.calendar:hover{
  color: #ffb932;
}
.deal-box{
  font-size: 30px;
  color: #323339;
}
.box-1{
  background-image: url(/public/img/promo1.jpg);
  background-size: contain;
}
.box-2{
  background-image: url(/public/img/barkadabg.jpg);
  background-size: cover;
}
.box-3{
  background-image: url(/public/img/luggagebg.jpg);
  background-size: contain;
}
.modal-header{
     background-color:#ffb932;
}
.modal-content {
    overflow:hidden;
}
.lato{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}
.login-logo{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}
.header{
  background-color:#ffb932;
  height: 10vh;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 70px;
}
.jumbo-style{
  background-color: #4ABDAC;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 5px 6px 0px rgba(49, 49, 49, 0.31);
}
.jumbo-header{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}
.back-btn {
  background-color: #fc4a1a;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  border-color: transparent;
  box-shadow: 0px 5px 6px 0px rgba(49, 49, 49, 0.31);
  padding-left: 30px;
  padding-right: 30px; }
  .back-btn:hover {
    background-color: #fc4a1a;
    color: #FFFFFF;}
  .back-btn:focus {
    background-color: #fc4a1a; }
.get-started-logo{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
.search{
  position: absolute;
  z-index: 10;
}
.carousel-img{
object-fit: cover;
overflow: hidden;
}
.carousel-control {
  top: 76%;
}
.kc_fab_main_btn{
  /*background-color:#F44336;*/
  /*width:60px;
  height:60px;*/
  /*border-radius:100%;*/
  /*background:#F44336;*/
  border:none;
  outline:none;
  color:#FFF;
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
  transition:.3s;
  /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
  position: absolute;
  left: 10px;
  right: 10px;
  top: 40%;
  z-index: 10;
}
.navbar {
    background-color: transparent;
    background: transparent;
    border-width: 0px;
    padding-right: 30px;
}
.register:after{
  content: '';
  display: block;
  border: 1.5px solid #fba100;
}
.nav.navbar-nav li a {
     color: #fff !important;
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     font-weight: 400;
 }
 .nav .navbar-nav li a:hover {
     color: grey !important;
 }
a:hover {
  text-decoration: none; }

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; }

.lz-header {
  padding: 20px !important; }
  .lz-header h3 {
    padding: 0 !important; }

.lz-title {
  margin: 0;
  display: inline-block;
  line-height: 38px;
  color: #ffb932;
  font-family: "PilsenPlakat"; }

.lz-catalogue, .lz-cart {
  border-radius: 5px;
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.2);
  background: rgba(34, 34, 34, 0.5);
  height: 80vh; }

.lz-catalogue {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column; }
  .lz-catalogue .lz-header {
    margin-right: -5px; }

.lz-category-container {
  flex: 1;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.2);
  background: rgba(34, 34, 34, 0.5);
  margin: 10px;
  padding-top: 20px; }

.lz-category {
  height: 100px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: stretch;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s ease; }
  .lz-category:hover {
    opacity: 0.9; }

.lz-category-title {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
  color: #fff;
  font-size: 14px;
  padding: 8px 15px; }

.lz-table {
  padding-left: 10px;
  padding-right: 10px;
  color: #fff; }

.lz-total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  margin: 20px 0; }
  .lz-total label {
    padding: 5px 10px;
    margin-bottom: 0;
    color: #fff; }
  .lz-total .total {
    background-color: #ea7362;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-family: "PilsenPlakat";
    font-size: 20px; }

.lz-cart-content {
  flex: 1;
  overflow-y: auto; }
  .lz-cart-content tbody > tr > td:last-child {
    text-align: right; }
  .lz-cart-content th:last-child {
    text-align: right; }

.lz-cart {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px; }
  .lz-cart tbody > tr > td {
    border-top-color: transparent !important;
    padding-top: 10px;
    padding-bottom: 10px; }

.lz-top {
  position: absolute;
  width: 100%;
  height: 100%; }
  .lz-top .container {
    position: relative; }

.lz-brand {
  font-size: 50px;
  font-family: "PilsenPlakat";
  color: #ffb932;
  margin-top: 40px;
  z-index: -1; }

.lz-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../img/foot-bg.svg) left bottom no-repeat;
  background-size: cover; }
  .lz-bottom p {
    position: absolute;
    color: #fff;
    padding: 20px;
    margin: 0; }

.lz-item {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.17);
  margin-bottom: 20px;
  border-radius: 5px; }

.lz-item-image {
  position: relative;
  height: 100px;
  overflow: hidden;
  border-radius: 5px 5px 0 0; }
  .lz-item-image img {
    width: 100%;
    height: auto; }

.lz-item-info {
  display: flex;
  background-color: #fff;
  align-items: center;
  padding: 10px;
  border-radius: 0 0 5px 5px; }

.lz-item-title {
  flex: 1;
  font-weight: 600;
  font-size: 13px; }

.lz-item-price {
  font-family: "PilsenPlakat";
  font-size: 20px; }

.lz-add-btn {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 10px;
  right: 10px;
  box-sizing: border-box;
  padding: 0;
  background-color: #ea7362;
  display: none;
  transition: all 0.3s ease; }
  .lz-add-btn i {
    color: #fff; }

.lz-item-image:hover .lz-add-btn {
  display: inline-block; }

.lz-login {
  width: 500px;
  margin: 5% auto; }
  .lz-login a {
    color: #ffb932; }

.login-logo a {
  color: white; }

.login-box-body, .register-box-body {
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: rgba(34, 34, 34, 0.5); }
  .login-box-body hr, .register-box-body hr {
    opacity: 0.5;
    border-color: #ffb932; }

.social-auth-links .fa {
  font-size: 14px; }

.login-box-msg {
  padding-top: 20px;
  margin-bottom: 0;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  padding-left: 0; }

.login-btn {
  background-color: #ffb932;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  border-color: transparent;
  box-shadow: 0px 5px 6px 0px rgba(49, 49, 49, 0.31);
  padding-left: 30px;
  padding-right: 30px; }
  .login-btn:hover {
    background-color: #ffb932;
    color: #FFFFFF;}
  .login-btn:focus {
    background-color: #fea700; }

.close-btn {
  background-color: #4ABDAC;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  border-color: transparent;
  box-shadow: 0px 5px 6px 0px rgba(49, 49, 49, 0.31);
  padding-left: 30px;
  padding-right: 30px; }
  .close-btn:hover {
    background-color: #4ABDAC;
    color: #FFFFFF; }
  .close-btn:focus {
    background-color: #4ABDAC; }

.login-check label {
  color: #fff; }

.lz-error {
  color: #fc4f45; }

.lz-input {
  border-radius: 3px; }

.login-box-body .form-control-feedback, .login-box-body .form-control-feedback {
  color: #333 !important; }

.lz-footer a {
  color: #ffb932; }
  .lz-footer a:hover, .lz-footer a:active, .lz-footer a:focus {
    color: #fea700; }

.icheckbox_square-blue {
  background: url(../adaptdev/AdminLTE/plugins/iCheck/square/yellow.png) no-repeat; }

.lz-register-form label {
  color: #fff;
  font-weight: 400; }

.lz-logo {
  text-align: left;
  color: #ffb932;
  font-size: 32px; }

.lz-category-box{
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: rgba(34, 34, 34, 0.5);
}
/*# sourceMappingURL=style.css.map */
