body,html{
background-color: #fff;
color: #323339;
width: 100%;
}

.navbar{
background-color: transparent;
background: transparent;
border-width: 0px;
padding-right:30px;

}

.nav.navbar-nav li a {
color: #fff;
padding-left:20px;
font-size: 17px;
font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;}

.nav.navbar-nav li a:hover{
color: #fff;
padding-left:20px;
font-size: 17px;
font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;}

.navbar-default .navbar-toggle .icon-bar {
background-color: #fff;

}
.navbar-default button{
border: 2px solid #fff;
}

h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 500
  margin: 12px 50px 35px;
  letter-spacing: 1px;
  text-transform: uppercase; }
h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
  margin: 0 0 20px;
  letter-spacing: 1px;
}

.about-header{
padding:100px 0 50px 0;
color: #fff;
margin-bottom: 70px;
}
.custom{
	font-family: 'Roboto', sans-serif;
padding-bottom: 50px;
}
