body{
  padding-top: 80px;
  margin: 0;
  background-color: #ebe9e9;
}

/*REVIEWS*/
.comment{
  /*padding-top: 80px;*/
  font-family: 'Roboto', sans-serif;
}
.media{
  margin: 0;
}
.reviews {
    color: #555;
    font-weight: bold;
    margin: 10px auto 20px;
}
.media-body { position: relative; }
.media-date {
    position: absolute;
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before {
    content: '.';
    margin-left: -2px;
    margin-right: 2px;
}
/*END REVIEWS*/

/*RATE VOTING REVIEWS SECTION*/
.rate-vote-section{
  margin-bottom: 20px;
}
.rating-vote-div{
  border-left:15px solid #ebe9e9;
  border-right: 15px solid #ebe9e9;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 2vh;
}
.rating-vote li{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.rating-vote li i{
  font-size: 30px;
}
/*END OF RATE VOTIING SECTION*/

/*NAV*/
.navbar {
    background-color: #f37430;
    /*background: transparent;*/
    border-width: 0px;
    padding-right: 30px;
}
.nav.navbar-nav li a {
     color: #fff;
     font-family: 'Fjalla One', sans-serif;
     font-size: 16px;
     font-weight: 400;
 }
 .nav.navbar-nav li a:hover {
      color: #fff;
      /*font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 400;*/
}
.navbar-default .navbar-nav .dropdown-menu> li > a, .navbar-default .navbar-nav .dropdown-menu {
    background-color: #FFFFFF;
    color: #000000;
  }
/* END OF NAV*/

/* Rating Star Widgets Style */
.success-box {
  margin:10px 0;
  padding:10px 10px;
  border:1px solid #eee;
  background:#f9f9f9;
}

.success-box img {
  margin-right:10px;
  display:inline-block;
  vertical-align:top;
}

.success-box > div {
  vertical-align:top;
  display:inline-block;
  color:#888;
}

.rating-stars ul {
  list-style-type:none;
  padding:0;

  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.0em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
/*END STAR RATE*/


/* LIKE BUTTON*/
[id='toggle-heart'] {
  position: absolute;
  left: -100vw;
}

[for='toggle-heart'] {
  color: #aab8c2;
}

[id='toggle-heart']:checked + label {
  color: #e2264d;
}
/*END LIKE BUTTON*/

/*MODALS LOGIN REGISTER*/
.modal-header{
  padding-top: 40px;
  background-color:#fff;
  color: #3C4858;
}
.modal-body{
  padding-top: 15px;
  padding-bottom: 50px;
}
.supplier-body{
  padding-bottom: 10px;
}
.modal-body .btn-default{
  background-color: #f37430;
  color: #fff;
  box-shadow: 0px 5px 6px 0px rgba(49, 49, 49, 0.31);
  border: none;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 5px;
}
.modal-body .fb-btn{
  background-color: #3B5998;
}
.modal-body .google-btn{
  background-color: #dd4b39;
}
.modal-footer .btn-default{
  font-family: 'Oswald', sans-serif;
}
.modal-title{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 24px;
}
.modal-header p{
  font-size: 16px;
}
.modal-content {
    overflow:hidden;
}
.login-body{
  padding-bottom: 10px;
}

.login-btn {
  background-color: #f37430;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  border-color: transparent;
  box-shadow: 0px 5px 6px 0px rgba(49, 49, 49, 0.31);
  padding-left: 30px;
  padding-right: 30px; }
  .login-btn:hover {
    background-color: #f37430;
    color: #FFFFFF;}
  .login-btn:focus {
    background-color: #f37430; }

    .close-btn {
      background-color: #3c3734;
      color: #FFFFFF;
      font-family: 'Montserrat', sans-serif;
      border-color: transparent;
      box-shadow: 0px 5px 6px 0px rgba(49, 49, 49, 0.31);
      padding-left: 30px;
      padding-right: 30px; }
      .close-btn:hover {
        background-color: #3c3734;
        color: #FFFFFF; }
      .close-btn:focus {
        background-color: #3c3734; }

/*END MODAL LOGIN AND REGISTER*/

/* Breadcrumb & Header*/
.breadcrumb{
  background-color: transparent;
}
.breadcrumb li a {
  color: #3c3734;
}
.breadcrumb li a:hover {
  color: #3c3734;
  text-decoration: none;
}
.content-title{
  margin-left: 15px;
  color: #3c3734;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}
/* END of Breadcrumb & Header*/

/* CONTENT*/
.side-content{
  margin-top: 5px;
  background-color:#fff;
  padding-top:0;
  padding-bottom: 20px;
  border-radius:5px;
  font-family: 'Roboto', sans-serif;
  border-left:15px solid #ebe9e9;
  border-right: 15px solid #ebe9e9;
}
.separator{
  padding:1px;
  background-color:gray;
  margin-bottom:10px;
}
.business-title{
  margin-bottom:15px;
  margin-top:5px;
  font-family: 'Fjalla One', sans-serif;
}
.main-content{
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  padding: 0;
}
.main-content .rating a {
  text-decoration:none;
  width:100%;
  height:100%;
  display:block;
  margin:0;
  padding:0;
}

.main-content .rating a span{
  color:black;
  font-size:15px;
  padding:5px 0 10px 0;
  display:block;
  /*text-transform:uppercase;*/
  /*font-family:'Josefin Sans';*/
  /*letter-spacing:1px;*/
}
.detail-list{
  font-size: 15px;
}
.icons{
  font-size: 25px;
}
.content ul {
  margin: 0;
  padding: 0;
}
.content ul li {
  list-style: none;
}
.content ul li a {
  text-decoration: none;
  color: #3c3734;
}
.content ul li span {
  color: gray;
}
/* END OF CONTENT*/

/* FOOTER */
.footer1 a {
    color: #DDD;
}
.footer1 ul li{
  list-style: none;
}

.footer1 a:hover,
.footer1 a:focus,
.footer1 a:active {
    color: #FFF;
}

.footer1 .footer {
    background-color: #2E3436;
    padding: 35px 0;
    margin-top: 5em;
}

.footer1 .footer .footer-desc p {
    color: #DDD;
	margin: 15px 0 8px;
}

.footer1 .footer .social {
    margin: 0 auto;
    display: table;
}

.footer1 .footer .social li {
    float: left;
}
.footer1 .footer .social li a {
	display: block;
    font-size: 1em;
    color: #DDD;
    width: 30px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    background-color: #222728;
    border-radius: 2px;
    margin: 15px 4px
}

.footer1 .footer .social li a:hover {
    background-color: #f37430;
}

.footer1 .footer .input-group {
    margin: 15px 0;
}

.footer1 .footer .form-control {
    border-radius: 2px 0 0 2px;
    background-color: #585C5D;
    border-color: #585C5D;
    color: #DDD;
    font-size: 15px;
}
.footer1 .footer .form-control:hover,
.footer1 .footer .form-control:focus {
    border: 1px solid #222728;
    background-color: #222728;
}

.footer1 .footer .input-group-addon {
    border-radius: 0 2px 2px 0;
    background-color: #F7931D;
    color: #FFF;
    border-color: #F7931D;
    font-size: 15px;
}

.footer1 .footer-bottom {
    background-color: #222728;
    padding: 15px 0;
    color: #DDD;
    font-size: 13px;
}

.footer1 .footer-bottom ul li {
    display: inline-block;
}

.footer1 .footer-bottom ul li a {
    display: block;
    padding-left: 8px;
}
.footer1 .footer-bottom ul li a:after {
    content: "-";
    padding-left: 8px;
}

.footer1 .footer-bottom ul li:last-child a:after {
    content: "";
}

@media (max-width: 550px) {
	.footer1 .footer-bottom .pull-left,
	.footer1 .footer-bottom .pull-right {
		float: none !important;
		width: 100%;
		text-align: center;
    padding: 10px;
	}
}
/* END FOOTER*/
