body{
  padding-top: 70px;
  margin: 0;
  background-color: #ebe9e9;
}


/* NAV */
.navbar {
    background-color: #f37430;
    /*background: transparent;*/
    border-width: 0px;
    padding-right: 30px;
}
.nav.navbar-nav li a {
     color: #fff;
     font-family: 'Roboto Condensed', sans-serif;
     font-size: 16px;
     font-weight: 700;
 }
 .nav.navbar-nav li a:hover {
      color: #fff;
      /*font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 400;*/
}
.navbar-default .navbar-nav .dropdown-menu> li > a, .navbar-default .navbar-nav .dropdown-menu {
    background-color: #FFFFFF;
    color: #000000;
  }
/* END OF NAV*/

/*MODALS LOGIN REGISTER*/
.agreement-box{
  font-family: 'Roboto Condensed', sans-serif;
}
.agreement-box span{
  color: #7FB3E1;
}
input[type=text],input[type=email],input[type=password] {
  font-family: 'Roboto', sans-serif;
}
.modal-header{
  padding-top: 40px;
  background-color:#fff;
  color: #3C4858;
}
.modal-body{
  padding-top: 15px;
  padding-bottom: 50px;
}
.supplier-body{
  padding-bottom: 10px;
}
.modal-body .btn-default{
  background-color: #f37430;
  color: #fff;
  box-shadow: 0px 5px 6px 0px rgba(49, 49, 49, 0.31);
  border: none;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 5px;
}
.modal-body .fb-btn{
  background-color: #3B5998;
}
.modal-body .google-btn{
  background-color: #dd4b39;
}
.modal-footer .btn-default{
  font-family: 'Oswald', sans-serif;
}
.modal-title{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 24px;
}
.modal-header p{
  font-size: 16px;
}
.modal-content {
    overflow:hidden;
}
.login-body{
  padding-bottom: 10px;
}

.login-btn {
  background-color: #f37430;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  border-color: transparent;
  box-shadow: 0px 5px 6px 0px rgba(49, 49, 49, 0.31);
  padding-left: 30px;
  padding-right: 30px; }
  .login-btn:hover {
    background-color: #f37430;
    color: #FFFFFF;}
  .login-btn:focus {
    background-color: #f37430; }

    .close-btn {
      background-color: #3c3734;
      color: #FFFFFF;
      font-family: 'Montserrat', sans-serif;
      border-color: transparent;
      box-shadow: 0px 5px 6px 0px rgba(49, 49, 49, 0.31);
      padding-left: 30px;
      padding-right: 30px; }
      .close-btn:hover {
        background-color: #3c3734;
        color: #FFFFFF; }
      .close-btn:focus {
        background-color: #3c3734; }

/*END MODAL LOGIN AND REGISTER*/

/* Breadcrumb & Header*/
.breadcrumb{
  background-color: transparent;
  font-size: 11px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #757575;
}
.breadcrumb li a {
  color: #757575;
}
.breadcrumb li a:hover {
  color: #757575;
  text-decoration: underline;
}
.content-title{
  margin-left: 15px;
  color: #3c3734;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}
/* END of Breadcrumb & Header*/

/* CONTENT*/
.content-header{
  margin-bottom: 20px;
}
.box{
  background-color:#fff;
  border-left: 5px solid #ebe9e9;
}
/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
  background-color: #fff;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #f37430;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f37430;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
.forum-header{
  margin-bottom: 50px;
}
.forum-header h3{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}
.create-div a{
  margin-left:15px;
  background-color: #f37430;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}
.create-div a:hover{
  color: #fff;
}
.search-box{
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}
.topic-details{
  font-family: 'Roboto Condensed', sans-serif;
}
.topics h4{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}
.list-inline{
  font-size: 1em;
  font-weight: bold;
  color: #424242;
  font-style: italic;
}
.table-responsive{
  background-color: #fff;
}
.table-responsive .table thead tr th{
  font-family: 'Roboto Condensed', sans-serif;
  text-transform:uppercase;
  color: #212121;
}
.table-responsive .table tbody tr td{
  font-family: 'Roboto Condensed', sans-serif;
}
.table-footer{
  margin-top: 5px;
}
.main-content{
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 5px;
  /*padding: 50px;*/
  /*background-color: #fff;*/
  border-radius: 5px;
  border-left: 15px solid #ebe9e9;
  /*border-right: 15px solid #ebe9e9;*/
}
.main-content button{
  font-weight: bold;
}
.main-content a{
  font-weight: bold;
}
.content ul {
  margin: 0;
  padding: 0;
}
.content ul li {
  list-style: none;
}
.content ul li a {
  text-decoration: none;
  color: #3c3734;
}
.content ul li span {
  color: gray;
}
/* END OF CONTENT*/

/* FOOTER */
.footer1 a {
    color: #DDD;
}
.footer1 ul li{
  list-style: none;
}

.footer1 a:hover,
.footer1 a:focus,
.footer1 a:active {
    color: #FFF;
}
.footer1 .footer {
    background-color: #2E3436;
    padding: 35px 0;
    margin-top: 5em;
}

.footer1 .footer .footer-desc p {
    color: #DDD;
	margin: 15px 0 8px;
}

.footer1 .footer .social {
    margin: 0 auto;
    display: table;
}

.footer1 .footer .social li {
    float: left;
}
.footer1 .footer .social li a {
	display: block;
    font-size: 1em;
    color: #DDD;
    width: 30px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    background-color: #222728;
    border-radius: 2px;
    margin: 15px 4px
}

.footer1 .footer .social li a:hover {
    background-color: #f37430;
}

.footer1 .footer .input-group {
    margin: 15px 0;
}

.footer1 .footer .form-control {
    border-radius: 2px 0 0 2px;
    background-color: #585C5D;
    border-color: #585C5D;
    color: #DDD;
    font-size: 15px;
}
.footer1 .footer .form-control:hover,
.footer1 .footer .form-control:focus {
    border: 1px solid #222728;
    background-color: #222728;
}

.footer1 .footer .input-group-addon {
    border-radius: 0 2px 2px 0;
    background-color: #F7931D;
    color: #FFF;
    border-color: #F7931D;
    font-size: 15px;
}

.footer1 .footer-bottom {
    background-color: #222728;
    padding: 15px 0;
    color: #DDD;
    font-size: 13px;
}

.footer1 .footer-bottom ul li {
    display: inline-block;
}

.footer1 .footer-bottom ul li a {
    display: block;
    padding-left: 8px;
}
.footer1 .footer-bottom ul li a:after {
    content: "-";
    padding-left: 8px;
}

.footer1 .footer-bottom ul li:last-child a:after {
    content: "";
}

@media (max-width: 550px) {
	.footer1 .footer-bottom .pull-left,
	.footer1 .footer-bottom .pull-right {
		float: none !important;
		width: 100%;
		text-align: center;
    padding: 10px;
	}
}


.column {
    float: left;
    width: 33.33%;
    padding: 10px;

}


.row:after {
    content: "";
    display: table;
    clear: both;


/* END FOOTER*/
